html, body {
    height: 100%;
}
body {
    margin: 0;
}
#canvas {
    width: 100vw;
    height: 100vh;
}

.flex-container {
    display: none;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.row {
}
.flex-item {
}
